<a href="https://colab.research.google.com/github/SowmyaDontha88/Python/blob/main/Recommendation_systesm_GIT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd
import numpy as np

# **Problem statement--> Build recommendation system using cosine similarities score**

In [11]:
books = pd.read_csv("/content/Books.csv")
ratings = pd.read_csv("/content/Ratings.csv")
users= pd.read_csv("/content/Users.csv")

In [12]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [13]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X          0.0
1   276726  0155061224          5.0
2   276727  0446520802          0.0
3   276729  052165615X          3.0
4   276729  0521795028          6.0

In [15]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [16]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78471 entries, 0 to 78470
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISBN                 78471 non-null  object
 1   Book-Title           78471 non-null  object
 2   Book-Author          78471 non-null  object
 3   Year-Of-Publication  78471 non-null  int64
 4   Publisher            78471 non-null  object
 5   Image-URL-S          78471 non-null  object
 6   Image-URL-M          78471 non-null  object
 7   Image-URL-L          78470 non-null  object
dtypes: int64(1), object(7)
memory usage: 4.8+ MB

In [18]:
books.describe()

       Year-Of-Publication
count         78471.000000
mean           1959.716787
std             260.859168
min               0.000000
25%            1990.000000
50%            1996.000000
75%            2000.000000
max            2030.000000

In [19]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962443 entries, 0 to 962442
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   User-ID      962443 non-null  int64
 1   ISBN         962443 non-null  object
 2   Book-Rating  962442 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 22.0+ MB

In [20]:
ratings.describe()

             User-ID    Book-Rating
count  962443.000000  962442.000000
mean   118407.780405       2.894954
std     68969.445907       3.861208
min         2.000000       0.000000
25%     56959.000000       0.000000
50%    117068.000000       0.000000
75%    176887.000000       7.000000
max    278854.000000      10.000000

In [21]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [22]:
users.describe()

            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

In [23]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            1
dtype: int64

In [24]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    1
dtype: int64

In [25]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [29]:
ratings_names = ratings.merge(books , on="ISBN")
ratings_names.head(2)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0.0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5.0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

# Getting users with atleast 200 rating

In [32]:
x = ratings_names.groupby('User-ID').count()['Book-Rating'] > 200
users_rating = x[x].index
users_rating

Int64Index([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,
              6323,   6543,
            ...
            229011, 229551, 230496, 230522, 231210, 231237, 231857, 232131,
            277427, 278418],
           dtype='int64', name='User-ID', length=420)

# Filtering the rated users book title

In [33]:
filtered_rating = ratings_names[ratings_names['User-ID'].isin(users_rating)]
filtered_rating.head(5)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0.0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0.0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0.0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0.0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0.0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

# **Filtering based on books**

In [87]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating'] >= 70
famous_books =  y[y].index
famous_books

Index(['1st to Die: A Novel', '2nd Chance', 'A Bend in the Road',
       'A Is for Alibi (Kinsey Millhone Mysteries (Paperback))',
       'A Map of the World', 'A Painted House', 'A Prayer for Owen Meany',
       'A Time to Kill', 'A Walk to Remember', 'All I Really Need to Know',
       ...
       'Violets Are Blue', 'Watership Down', 'We Were the Mulvaneys',
       'When the Wind Blows',
       'Where the Heart Is (Oprah's Book Club (Paperback))',
       'While I Was Gone', 'Whispers', 'White Oleander : A Novel',
       'Wicked: The Life and Times of the Wicked Witch of the West',
       'Wild Animus'],
      dtype='object', name='Book-Title', length=150)

In [88]:
final_ratings =  filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [89]:
final_ratings.drop_duplicates()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
51,278418,0446520802,0.0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
53,3363,0446520802,0.0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
54,7158,0446520802,10.0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
57,11676,0446520802,10.0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
62,23768,0446520802,6.0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
566801,198711,0922066728,0.0,A Time to Kill,John Grisham,1992,Dell Publishing,http://images.amazon.com/images/P/0922066728.0...,http://images.amazon.com/images/P/0922066728.0...,http://images.amazon.com/images/P/0922066728.0...
566802,210485,0922066728,0.0,A Time to Kill,John Grisham,1992,Dell Publishing,http://images.amazon.com/images/P/0922066728.0...,http://images.amazon.com/images/P/0922066728.0...,http://images.amazon.com/images/P/0922066728.0...
573409,78973,0446692638,9.0,Along Came a Spider (Alex Cross Novels),James Patterson,2003,Warner Books,http://images.amazon.com/images/P/0446692638.0...,http://images.amazon.com/images/P/0446692638.0...,http://images.amazon.com/images/P/0446692638.0...
573599,168064,B00009EF82,0.0,Hannibal,Thomas Harris,1999,Delacorte Press,http://images.amazon.com/images/P/B00009EF82.0...,http://images.amazon.com/images/P/B00009EF82.0...,http://images.amazon.com/images/P/B00009EF82.0...
575431,100906,1841953237,0.0,The Crimson Petal and the White,Michel Faber,2002,Canongate Books Ltd,http://images.amazon.com/images/P/1841953237.0...,http://images.amazon.com/images/P/1841953237.0...,http://images.amazon.com/images/P/1841953237.0...

# Filling null values with zero

In [90]:
pt = final_ratings.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')
pt.fillna(0, inplace=True)
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,229011,229551,230496,230522,231210,231237,231857,232131,277427,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Is for Alibi (Kinsey Millhone Mysteries (Paperback)),0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Map of the World,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
While I Was Gone,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Whispers,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
White Oleander : A Novel,0.0,0.0,0.0,7.0,0.0,0.0,0.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wicked: The Life and Times of the Wicked Witch of the West,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
Wild Animus,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# **Calculating cosine similarities**

In [46]:
from sklearn.metrics.pairwise import cosine_similarity

In [48]:
scores = cosine_similarity(pt)
scores

array([[1.        , 0.26584445, 0.        , ..., 0.05711559, 0.12729981,
        0.1794787 ],
       [0.26584445, 1.        , 0.        , ..., 0.11775988, 0.28140238,
        0.15430988],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.05711559, 0.11775988, 0.        , ..., 1.        , 0.06658992,
        0.02710748],
       [0.12729981, 0.28140238, 0.        , ..., 0.06658992, 1.        ,
        0.22609171],
       [0.1794787 , 0.15430988, 0.        , ..., 0.02710748, 0.22609171,
        1.        ]])

In [49]:
scores.shape

(337, 337)

In [50]:
scores[0]

array([1.        , 0.26584445, 0.        , 0.13900865, 0.17676885,
       0.1884633 , 0.17282807, 0.12277854, 0.04708686, 0.150917  ,
       0.07552569, 0.12090033, 0.18075493, 0.        , 0.1049692 ,
       0.04878628, 0.24414258, 0.04347576, 0.29128911, 0.28816117,
       0.02481654, 0.10257313, 0.06726597, 0.16675775, 0.10735708,
       0.        , 0.23576179, 0.11300362, 0.10569394, 0.05985658,
       0.17609228, 0.0499667 , 0.27438203, 0.13092623, 0.20216019,
       0.02062566, 0.09547544, 0.11285294, 0.13599642, 0.1825953 ,
       0.12877614, 0.03387839, 0.02306084, 0.14897526, 0.12595874,
       0.15291945, 0.08250752, 0.15919459, 0.05097358, 0.14912795,
       0.15104908, 0.12560622, 0.08005903, 0.05280143, 0.17632362,
       0.10294096, 0.17660583, 0.08953819, 0.25866244, 0.        ,
       0.26185948, 0.07194917, 0.19801586, 0.10138111, 0.18030886,
       0.12324701, 0.11609922, 0.16679373, 0.10927504, 0.16546183,
       0.04534198, 0.20708512, 0.16646909, 0.16990722, 0.13682465,
       0.10067449, 0.13695749, 0.        , 0.09472966, 0.179909  ,
       0.12191515, 0.13649136, 0.1104578 , 0.12394819, 0.13479852,
       0.15999684, 0.1163588 , 0.17838407, 0.08500983, 0.15743915,
       0.21678669, 0.19374067, 0.16444459, 0.10404085, 0.        ,
       0.10740109, 0.06104878, 0.        , 0.07029914, 0.19341205,
       0.07811908, 0.11967969, 0.10449462, 0.13926311, 0.04182633,
       0.0781128 , 0.12435495, 0.13127148, 0.19729137, 0.23235553,
       0.12680375, 0.15869441, 0.2566384 , 0.08476174, 0.2336876 ,
       0.15477016, 0.05264383, 0.18376963, 0.03881793, 0.07661876,
       0.21150429, 0.20960565, 0.12927154, 0.15636845, 0.20094262,
       0.10994596, 0.04773362, 0.11306392, 0.06166647, 0.04667116,
       0.14161188, 0.20153153, 0.03360906, 0.17456991, 0.1368646 ,
       0.10402301, 0.13840256, 0.18676954, 0.12544101, 0.30887792,
       0.13661569, 0.10009889, 0.05284222, 0.24825815, 0.13328643,
       0.07374728, 0.05650145, 0.09060329, 0.05136289, 0.05007694,
       0.        , 0.11871406, 0.11800525, 0.06294334, 0.19512695,
       0.07511056, 0.04270369, 0.16141186, 0.13062276, 0.11411292,
       0.15973255, 0.35852335, 0.07865908, 0.14218354, 0.12903291,
       0.12529424, 0.05518901, 0.07429079, 0.13042982, 0.20099696,
       0.15456981, 0.08295936, 0.19142858, 0.1887929 , 0.        ,
       0.        , 0.11208294, 0.11611424, 0.10091037, 0.        ,
       0.19780859, 0.11127931, 0.13671575, 0.06429623, 0.11161168,
       0.13308633, 0.05094541, 0.05148634, 0.05672414, 0.25113522,
       0.12183803, 0.08399173, 0.        , 0.09520109, 0.01431496,
       0.2056264 , 0.02718165, 0.08935832, 0.06756731, 0.09286676,
       0.09457313, 0.13646758, 0.20627607, 0.24470173, 0.10565556,
       0.05826583, 0.17613861, 0.        , 0.12927154, 0.2543825 ,
       0.19757268, 0.0250914 , 0.0833262 , 0.14529952, 0.06635075,
       0.        , 0.04143559, 0.09842564, 0.0951802 , 0.12108825,
       0.1051436 , 0.11461711, 0.12069447, 0.08539596, 0.11240105,
       0.06218805, 0.17390696, 0.02122033, 0.1034951 , 0.0551548 ,
       0.15131642, 0.06111491, 0.12237029, 0.16071649, 0.03258413,
       0.06511668, 0.12568412, 0.13309698, 0.1139278 , 0.13885381,
       0.11685996, 0.12413119, 0.03818259, 0.01631543, 0.08876883,
       0.04591132, 0.10089542, 0.06695396, 0.        , 0.13664012,
       0.06221959, 0.12080418, 0.22227593, 0.05234665, 0.08444518,
       0.17387388, 0.07879126, 0.12588665, 0.1039528 , 0.1572211 ,
       0.09960337, 0.1423495 , 0.13888417, 0.16151437, 0.05530109,
       0.08937092, 0.09623258, 0.15282383, 0.02668451, 0.17220014,
       0.08651305, 0.12244169, 0.12048794, 0.        , 0.15073342,
       0.17871   , 0.0460423 , 0.15404693, 0.        , 0.12971857,
       0.17202673, 0.14951248, 0.17497484, 0.22498381, 0.11573405,
       0.11177338, 0.10109299, 0.20397734, 0.16624004, 0.11511714,
       0.00590876, 0.11027007, 0.14511546, 0.14581974, 0.22541722,
       0.12536392, 0.13626821, 0.05254635, 0.05395118, 0.12334831,
       0.13578027, 0.09125645, 0.        , 0.04459009, 0.11511206,
       0.15632268, 0.        , 0.0671209 , 0.12866756, 0.09289309,
       0.28105262, 0.12085043, 0.04694687, 0.15320319, 0.07654794,
       0.09719407, 0.24841581, 0.13157942, 0.13593674, 0.26959979,
       0.22865264, 0.05963442, 0.07095987, 0.10096408, 0.05806365,
       0.17723739, 0.1110209 , 0.1654453 , 0.05490226, 0.09840451,
       0.16643924, 0.13897712, 0.10607774, 0.11282601, 0.05711559,
       0.12729981, 0.1794787 ])

In [73]:
scores = pd.DataFrame(scores)
scores

,0,1,2,3,4,5,6,7,8,9,...,327,328,329,330,331,332,333,334,335,336
0,1.000000,0.265844,0.000000,0.139009,0.176769,0.188463,0.172828,0.122779,0.047087,0.150917,...,0.165445,0.054902,0.098405,0.166439,0.138977,0.106078,0.112826,0.057116,0.127300,0.179479
1,0.265844,1.000000,0.000000,0.092782,0.172566,0.000000,0.000000,0.090172,0.168696,0.167976,...,0.055803,0.082123,0.000000,0.154188,0.098390,0.089405,0.134276,0.117760,0.281402,0.154310
2,0.000000,0.000000,1.000000,0.000000,0.173142,0.000000,0.079480,0.000000,0.065765,0.152700,...,0.106389,0.057993,0.000000,0.000000,0.046390,0.000000,0.066827,0.000000,0.000000,0.000000
3,0.139009,0.092782,0.000000,1.000000,0.157699,0.136785,0.049551,0.233469,0.136546,0.109804,...,0.151734,0.168123,0.000000,0.231257,0.148043,0.082147,0.097089,0.107902,0.120247,0.020694
4,0.176769,0.172566,0.173142,0.157699,1.000000,0.028913,0.089027,0.130743,0.232832,0.231296,...,0.183419,0.136415,0.073248,0.111440,0.160652,0.000000,0.108272,0.129244,0.176817,0.051482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,0.106078,0.089405,0.000000,0.082147,0.000000,0.123797,0.081684,0.123430,0.152778,0.094666,...,0.053791,0.034768,0.000000,0.000000,0.065705,1.000000,0.109459,0.080702,0.000000,0.105842
333,0.112826,0.134276,0.066827,0.097089,0.108272,0.038261,0.147965,0.289159,0.139259,0.228659,...,0.119699,0.025789,0.000000,0.038233,0.112982,0.109459,1.000000,0.114021,0.041838,0.063080
334,0.057116,0.117760,0.000000,0.107902,0.129244,0.028545,0.052737,0.137685,0.130909,0.155817,...,0.059535,0.030784,0.000000,0.091278,0.153221,0.080702,0.114021,1.000000,0.066590,0.027107
335,0.127300,0.281402,0.000000,0.120247,0.176817,0.000000,0.000000,0.050522,0.323794,0.047318,...,0.043691,0.227171,0.000000,0.033493,0.205564,0.000000,0.041838,0.066590,1.000000,0.226092
336,0.179479,0.154310,0.000000,0.020694,0.051482,0.078942,0.258938,0.027422,0.152887,0.078516,...,0.084695,0.068318,0.000000,0.028196,0.025748,0.105842,0.063080,0.027107,0.226092,1.000000

In [57]:
scores.iloc[0:5,0:5]
scores

,0,1,2,3,4,5,6,7,8,9,...,327,328,329,330,331,332,333,334,335,336
0,1.000000,0.265844,0.000000,0.139009,0.176769,0.188463,0.172828,0.122779,0.047087,0.150917,...,0.165445,0.054902,0.098405,0.166439,0.138977,0.106078,0.112826,0.057116,0.127300,0.179479
1,0.265844,1.000000,0.000000,0.092782,0.172566,0.000000,0.000000,0.090172,0.168696,0.167976,...,0.055803,0.082123,0.000000,0.154188,0.098390,0.089405,0.134276,0.117760,0.281402,0.154310
2,0.000000,0.000000,1.000000,0.000000,0.173142,0.000000,0.079480,0.000000,0.065765,0.152700,...,0.106389,0.057993,0.000000,0.000000,0.046390,0.000000,0.066827,0.000000,0.000000,0.000000
3,0.139009,0.092782,0.000000,1.000000,0.157699,0.136785,0.049551,0.233469,0.136546,0.109804,...,0.151734,0.168123,0.000000,0.231257,0.148043,0.082147,0.097089,0.107902,0.120247,0.020694
4,0.176769,0.172566,0.173142,0.157699,1.000000,0.028913,0.089027,0.130743,0.232832,0.231296,...,0.183419,0.136415,0.073248,0.111440,0.160652,0.000000,0.108272,0.129244,0.176817,0.051482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,0.106078,0.089405,0.000000,0.082147,0.000000,0.123797,0.081684,0.123430,0.152778,0.094666,...,0.053791,0.034768,0.000000,0.000000,0.065705,1.000000,0.109459,0.080702,0.000000,0.105842
333,0.112826,0.134276,0.066827,0.097089,0.108272,0.038261,0.147965,0.289159,0.139259,0.228659,...,0.119699,0.025789,0.000000,0.038233,0.112982,0.109459,1.000000,0.114021,0.041838,0.063080
334,0.057116,0.117760,0.000000,0.107902,0.129244,0.028545,0.052737,0.137685,0.130909,0.155817,...,0.059535,0.030784,0.000000,0.091278,0.153221,0.080702,0.114021,1.000000,0.066590,0.027107
335,0.127300,0.281402,0.000000,0.120247,0.176817,0.000000,0.000000,0.050522,0.323794,0.047318,...,0.043691,0.227171,0.000000,0.033493,0.205564,0.000000,0.041838,0.066590,1.000000,0.226092
336,0.179479,0.154310,0.000000,0.020694,0.051482,0.078942,0.258938,0.027422,0.152887,0.078516,...,0.084695,0.068318,0.000000,0.028196,0.025748,0.105842,0.063080,0.027107,0.226092,1.000000

# Creating a function that can take input a book name and returns similar 6 books as recommendation

In [84]:
def recommend(book_name):
    # fetching the index of so and so book 
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(scores[index])), key=lambda x : x[1], reverse=True)[1:7]
    
    for i in similar_items:
        print(pt.index[i[0]])

In [85]:
print("5 Books Recommended based on this movie:\n")
recommend('4 Blondes')

5 Books Recommended based on this movie:

Seabiscuit
Here on Earth
The Crimson Petal and the White
A Case of Need
Five Quarters of the Orange
Message in a Bottle

In [86]:
print("5 Books Recommended based on this movie:\n")
recommend('A Bend in the Road')

5 Books Recommended based on this movie:

A Walk to Remember
Blue Diary
The Last Time They Met : A Novel
Circle of Friends
Good in Bed
Lightning